@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@400;500;700&display=swap');

:root {
    /* colors */
    --primary-clr: #e25232;
    --secondary-clr: #fff;
    --bgr-clr: #ee8d70;
    --font-clr: #363535;

    /* fonts */
    --main-font: 'Quicksand', sans-serif;
    --title-font: 'Anton', sans-serif;
}

/* css reset */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* animations */
@keyframes navbtn-anim {
    0%,
    100% {
        background-color: #f44336;
    }
    15% {
        background-color: #ff9800;
    }
    30% {
        background-color: #ffeb3b;
    }
    45% {
        background-color: #4caf50;
    }
    60% {
        background-color: #2196f3;
    }
    75% {
        background-color: #3f51b5;
    }
    90% {
        background-color: #673ab7;
    }
}

@keyframes card-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* animations end */

.navbtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: var(--secondary-clr);
    background-color: var(--primary-clr);
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    animation: navbtn-anim 10s infinite ease-in-out;
}

.navbtn:hover {
    border: 2px solid var(--secondary-clr);
}

.sidebar {
    display: none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    transition: margin 0.8s ease-in-out;
}

.page-inner {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--primary-clr);
}

.logo {
    margin-bottom: 10px;
    font-size: calc(26px + 6 * ((100vw - 320px) / (1400 - 320)));
    font-family: var(--title-font);
    white-space: nowrap;
    text-shadow: 0 2px 2px #575555;
    color: var(--secondary-clr);
}

.search {
    width: 80px;
    margin-bottom: 10px;
    padding: 0 0 0 15px;
    font-size: calc(14px + 2 * ((100vw - 320px) / (1400 - 320)));
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 35px;
    border-radius: 8px;
    outline: none;
    transition: width 0.8s ease-in-out;
}

.search:placeholder-shown,
.search::placeholder,
.search:focus {
    background-color: var(--bgr-clr);
}

.search::placeholder,
.search:focus {
    color: var(--secondary-clr);
}

.search:focus {
    width: 250px;
}

.top-menu {
    display: flex;
}

.top-menu__item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: var(--font-clr);
    background-color: var(--secondary-clr);
    box-shadow: 0 1px 5px #575555;
    transition: transform 0.5s ease;
}

.top-menu__item:last-child {
    margin: 0;
}

.top-menu__item:hover {
    transform: scale(1.2);
}

main {
    flex: 1 0 auto;
    padding: 25px 25px 0 25px;
    background-color: #fbfbfb;
}

.title {
    margin-bottom: 20px;
    font-size: calc(24px + 6 * ((100vw - 320px) / (1400 - 320)));
    font-family: var(--title-font);
    color: var(--font-clr);
}

.grid__item {
    opacity: 0;
    animation-name: card-fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.grid__item:nth-child(2) {
    animation-delay: 0.5s;
}

.grid__item:nth-child(3) {
    animation-delay: 1s;
}

.grid__item:nth-child(4) {
    animation-delay: 1.5s;
}

.grid__item:nth-child(5) {
    animation-delay: 2s;
}

.grid__item:nth-child(6) {
    animation-delay: 2.5s;
}

.grid__item:nth-child(7) {
    animation-delay: 3s;
}

.grid__item:nth-child(8) {
    animation-delay: 3.5s;
}

.grid__item:nth-child(9) {
    animation-delay: 4s;
}

.grid__item:nth-child(10) {
    animation-delay: 4.5s;
}

.grid__item:nth-child(11) {
    animation-delay: 5s;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.8s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px var(--primary-clr);
}

.card__top {
    position: relative;
    flex: 0 0 300px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.card__top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
}

.card__top img:hover {
    transform: scale(1.2);
}

.card__main {
    font-family: var(--main-font);
    margin-bottom: 20px;
    flex: 1 0 auto;
    font-size: calc(16px + 1 * ((100vw - 320px) / (1800 - 320)));
}

.card__btn {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: calc(16px + 1 * ((100vw - 320px) / (1800 - 320)));
    font-family: var(--main-font);
    text-align: center;
    border: 2px solid var(--primary-clr);
    border-radius: 10px;
    color: var(--primary-clr);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card__btn:hover {
    color: var(--secondary-clr);
    background-color: var(--bgr-clr);
}

footer {
    padding: 15px;
    text-align: center;
    background-color: var(--primary-clr);
}

.copyright {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: calc(14px + 4 * ((100vw - 320px) / (1400 - 320)));
    color: var(--secondary-clr);
}

@media (min-width: 410px) {
    .header__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search {
        margin: 0;
    }

    .search:focus {
        width: 200px;
    }
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin: 0;
    }

    .search {
        width: 120px;
        margin: 0 20px 0 0;
    }

    .header__right {
        display: flex;
        align-items: center;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .grid__item {
        display: flex;
        flex: 0 1 50%;
        padding: 0 10px;
    }
}

@media (min-width: 992px) {
    .navbtn {
        display: none;
    }

    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 50px;
        height: 100%;
        padding: 25px 10px;
        text-align: center;
        white-space: nowrap;
        background-color: var(--secondary-clr);
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.8s ease-in-out;
    }

    .sidebar:hover {
        width: 200px;
        padding: 25px 50px;
    }

    .sidebar:hover + .page-wrapper {
        margin-left: 200px;
    }

    .arrow {
        margin-bottom: 25px;
        font-size: 30px;
        color: var(--font-clr);
    }

    .arrow i {
        transition: transform 0.8s ease-in-out;
    }

    .sidebar:hover .arrow i {
        transform: rotateY(180deg);
    }

    .sidebar-menu__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
        font-family: var(--main-font);
        color: var(--font-clr);
        transition: left 0.8s ease-in-out;
    }

    .sidebar-menu__text {
        position: relative;
    }

    .sidebar-menu__text::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--primary-clr);
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }

    .sidebar-menu__item:hover .sidebar-menu__text::after {
        width: 100%;
        visibility: visible;
    }

    .sidebar-menu__item:hover {
        color: var(--primary-clr);
        transition: all 0.5s ease;
    }

    .sidebar-menu__icon {
        margin-left: 15px;
        flex: 0 0 30px;
    }

    .page-wrapper {
        margin-left: 50px;
    }

    .search:focus {
        width: 300px;
    }

    .grid__item {
        flex: 0 1 33.333%;
    }
}

@media (min-width: 1200px) {
    .grid__item {
        flex: 0 1 25%;
    }
}

@media (min-width: 2000px) {
    .grid__item {
        flex: 0 1 20%;
    }
}

/* experimental fix*/
@media (min-width: 3000px) {
    body {
        max-width: 3000px;
        margin: 0 auto;
        will-change: transform;
    }

    .sidebar-menu__text {
        opacity: 0;
        transition: opacity 0.2s ease 0.3s;
    }

    .sidebar:hover .sidebar-menu__text {
        opacity: 1;
    }
}
/* end of experimental fix*/
